<ion-view>

    <ion-content>

        <div class="col">

            <div class="list">

                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" data-ng-model="user.email">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" data-ng-model="user.password">
                </label>

            </div>

            <div class="button button-royal row" data-ng-click="ionicSignUp(user)">IONIC LOGIN</div>

            <br>

            <div class="button button-positive row" data-ng-click="facebookSignIn()">FACEBOOK LOGIN</div>

            <br>

            <div class="button button-assertive row" data-ng-click="googleSignIn()">GOOGLE LOGIN</div>

            <br>

            <div class="button button-dark row" data-ng-click="goHome()">JUST ENTER!</div>

        </div>

    </ion-content>

</ion-view>
