<ion-view>

    <ion-content>

        <div class="col">

            <div class="button button-positive row" data-ng-click="facebookSignIn()">LOGIN WITH FACEBOOK</div>

            <br>

            <div class="button button-assertive row" data-ng-click="googleSignIn()">LOGIN WITH GOOGLE</div>

            <br>

            <div class="button button-dark row" data-ng-click="goHome()">JUST ENTER!</div>

            <br>

            <div class="button button-energized row" data-ng-click="startTrackingAnalytics()">START ANALYTICS</div>

        </div>

    </ion-content>

</ion-view>
