<ion-view>

  <ion-content>

      <div class="row">
          <button class="button button-dark" style="width: 100%" data-ng-click="getAuthorizationStatus()">Atualizar Beacons</button>
      </div>

      <br>

      <!--<div class="row">
          <button class="button button-positive col-50" data-ng-click="startRangingBeacons()">Start Ranging Beacons</button>
          <button class="button button-assertive col-50" data-ng-click="stopRangingBeacons()">Stop Ranging Beacons</button>
      </div>-->

      <br>

      <div class="row">
          <button class="button button-positive col-50" data-ng-click="startMonitoringBeacons()">Start Monitoring Beacons</button>
          <button class="button button-assertive col-50" data-ng-click="stopMonitoringBeacons()">Stop Monitoring Beacons</button>
      </div>

      <ion-list class="list" id="beacons-list">

          <!--Monitoring Beacons-->
          <ion-item>
              <span class="item item-divider"><b>Região: </b>{{beaconRegion.region.identifier}}</span>
              <span class="item"><b>UUID: </b>{{beaconRegion.region.uuid}}</span>
              <span class="item"><b>MAJOR: </b>{{beaconRegion.region.major}}</span>
              <span class="item"><b>MINOR: </b>{{beaconRegion.region.minor}}</span>
              <span class="item"><b>ESTADO: </b>{{beaconRegion.state}}</span>
          </ion-item>

          <!--Ranging Beacons-->
          <ion-item>
              <div class="item item-thumbnail-left" data-ng-if="nearestBeacon.minor !== ''">
                  <img data-ng-src="img/candy.png" data-ng-if="nearestBeacon.minor == 6251"/>
                  <img data-ng-src="img/beetroot.png" data-ng-if="nearestBeacon.minor == 6227"/>
                  <img data-ng-src="img/lemon.png" data-ng-if="nearestBeacon.minor == 16050"/>
                  <span class="item"><b>UUID: </b>{{nearestBeacon.uuid}}</span>
                  <span class="item"><b>MAJOR: </b>{{nearestBeacon.major}}</span>
                  <span class="item"><b>MINOR: </b>{{nearestBeacon.minor}}</span>
                  <span class="item"><b>PROXIMIDADE: </b>{{nearestBeacon.proximity}}</span>
              </div>
          </ion-item>

      </ion-list>

  </ion-content>

</ion-view>
