<ion-view>

    <ion-content>

        <div class="list">

            <div data-ng-if="loggedUserWithGooglePlus" class="item item-avatar">
                <img data-ng-src="{{loggedUserWithGooglePlus.imageUrl}}">
                <h2>{{loggedUserWithGooglePlus.displayName}}</h2>
                <p>Welcome!!!</p>
            </div>

        </div>

        <div class="card" data-ng-click="goToProject('beacon')">
            <div class="item item-text-wrap">
                BEACON
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('mixdDoor')">
            <div class="item item-text-wrap">
                MIXD DOOR
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('call')">
            <div class="item item-text-wrap">
                MAKE A CALL
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('email')">
            <div class="item item-text-wrap">
                SEND AN EMAIL
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('calendar')">
            <div class="item item-text-wrap">
                CALENDAR
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('app.inheritance.home')">
            <div class="item item-text-wrap">
                INHERITANCE
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('socialShare')">
            <div class="item item-text-wrap">
                SOCIAL SHARE
            </div>
        </div>

    </ion-content>

</ion-view>
