<ion-view>

    <ion-header-bar>
        <div class="bar bar-header bar-dark">
            <h1 class="title">Please select a project</h1>
        </div>
    </ion-header-bar>

    <ion-content>

        <div class="list">

            <div data-ng-if="loggedUserWithGooglePlus" class="item item-avatar">
                <img data-ng-src="{{loggedUserWithGooglePlus.imageUrl}}">
                <h2>{{loggedUserWithGooglePlus.displayName}}</h2>
                <p>Welcome!!!</p>
            </div>

        </div>

        <div class="card" data-ng-click="goToProject('beacon')">
            <div class="item item-text-wrap">
                BEACON
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('call')">
            <div class="item item-text-wrap">
                MAKE A CALL
            </div>
        </div>

        <div class="card" data-ng-click="goToProject('email')">
            <div class="item item-text-wrap">
                SEND AN EMAIL
            </div>
        </div>

    </ion-content>

</ion-view>
