<ion-view>

    <ion-header-bar>
        <div class="bar bar-header bar-dark">
            <h1 class="title">Please select a project</h1>
        </div>
    </ion-header-bar>

    <ion-content>

        <!--<div class="card" ng-click="goToProject('ocr')">
            <div class="item item-text-wrap">
                OCR - Optical Characters Recognition
            </div>
        </div>-->

        <div class="card" ng-click="goToProject('beacon')">
            <div class="item item-text-wrap">
                BEACON
            </div>
        </div>

    </ion-content>

</ion-view>
