.bar.bar-header.bar-dark h1[style] {
    left: 0 !important;
    right: 0 !important;
    text-align: center;
}

.card .item.item-text-wrap {
    text-align: center;
}

.card.activated .item-text-wrap {
    background: #4190ee;
    color: #f1f2f3;
}