<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content edge-drag-threshold="true">

        <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu>

        <ion-list>

            <ion-item>
                TESTE 1
            </ion-item>

            <ion-item>
                TESTE 2
            </ion-item>

            <ion-item>
                TESTE 3
            </ion-item>

        </ion-list>

    </ion-side-menu>

</ion-side-menus>