<ion-view>

    <ion-header-bar>
        <i class="ion-android-arrow-back" ng-click="goBack('home')"></i>

        <div class="bar bar-header bar-dark">
            <h1 class="title">Project - Email</h1>
        </div>
    </ion-header-bar>

    <ion-content>

        <div class="col">

            <div class="list row">
                <label class="item item-input">
                    <input type="tel" placeholder="Email" ng-model="email">
                </label>
            </div>

            <div class="row">{{email}}</div>

            <br>

            <a class="button button-royal row" ng-href="mailto:{{email}}">OPEN EMAIL APP</a>

            <br>

            <button class="button button-dark row" ng-click="goBack('home')">BACK</button>

        </div>

    </ion-content>

</ion-view>